{{ partial "header" . }}

<div class="page-title">
  <div style="font-size:2.3rem; " ><a href="/"  style="color:#2f6f6f;">{{ .Site.Title | default "Basics"}} </a></div>
  <h1 class="site-title">分类</h1>
</div>

<div>
	{{ $data := .Data }}
  <ul class="list-group">
  	{{ range $key, $value := .Data.Terms.Alphabetical }}
  	<li class="list-group-item title">
  		<a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name }} </a> ({{ $value.Count }})&nbsp;&#x2F;&nbsp;
  	</li>
  	{{ end }}
  </ul>
</div>
{{ partial "footer" . }}
